<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyh.module_me">

    <application
        android:name="com.zyh.lib_base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.me">

        <activity android:name=".MeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
